html {
  max-width: 80ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.7;
  font-size: 1em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 2em 0 1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th,td {
  border: 1px solid black;
}
